/**
 * @file UART_periph_template.h
 * @author L. Nicholson-Andrews (lewisnich01@outlook.com)
 * @brief This is a template header file for any Peripheral to use
 */

#ifndef {{ peripheral.name | upper}}_H
#define {{ peripheral.name | upper}}_H

#include <stdint.h>

{% for register in peripheral.registers %}
#define {{ peripheral.name | upper }}_{{ register.name }}    {{ register.offset }}
{% endfor %}

/* Declarations / Function Prototypes */
void {{peripheral.name}}_init(void);
void {{peripheral.name}}_open(void);
void {{peripheral.name}}_close(void);
void {{peripheral.name}}_write(uint8_t data);
uint8_t {{peripheral.name}}_read(void);

typedef struct{
    uint32_t baud_rate;
    uint8_t data_len;
    int8_t UART_PARITY      : 1;    /* 1 bit - even or odd */
    int8_t UART_STOP_BIT    : 1;    /* 1 bit - one or two stop bits */
}uart_comm_sett_t;

typedef enum{
    UART_INIT,
    UART_OPEN,
    UART_CLOSE,
    UART_READ,
    UART_WRITE
}uart_handle_t;

#endif /* {{ peripheral.name | upper }}_H */